{% extends "base.html" %}
{% block content %}
<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg style="width:80px;" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 560 400" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(8.88158 0 0 8.88158 145 81.875)"><path d="m9.9 0 15.4 26.6 5.1-8.9-10.3-17.7z" fill="#ed3524"/><path d="m9.9 18.2 5.3 8.4h10.6l-5.3-8.4z" fill="#ae1e23"/><path d="m5.3 8.4-5.3 9.1 5.3 9.1 10.7-18.2z" fill="#ed3524"/></g></svg>
    <span class="fs-4">My Drive</span>
</a>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">File Type</th>
        <th scope="col">Last Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class='far fa-file-alt'></i></td>
        <td scope="row">test.txt</dh>
        <td>.txt</td>
        <td>06/28/21 14:38:00</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
